.hexColorMainContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin-top: 2vh;
  margin-bottom: 1vh;
  border-radius: 4px;
  width: 100%;
  height: auto;
  background-color: #E8E8E8
}

.hexColorHeaderText {
  font-size: 1.5em;
}

.hexColorContainer {
  display: flex;
  width: 100%;
  height: auto;
  gap: 2vh;
}

@media (max-width: 600px) {
  .hexColorContainer {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}

@media (min-width: 601px) {
  .hexColorContainer {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}

.hexColorPickerContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 0.5vh;
  font-size: 1.25em;
}

.hexColorPickerCurrentSelectionContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}

.hexColorCurrentColorText {
  margin: 0;
  margin-bottom: 1vh;
  padding: 0;
}

.hexColorDisplayBox {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  border: 2px solid #252525;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4), 0 0 5px rgba(255, 255, 255, 0.4);
}