.calendarContainer {
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  overflow-y: visible;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.calendarNavContainer {
  width: 100%;
  height: auto;
  max-height: 5vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); /* Adjust blur and color as needed */
  border-bottom: 1px solid #f5f5f5; /* To ensure there's a visible border */
}

/* NAV CONTAINER STYLING --- NAV CONTAINER STYLING */

.calendarNavContainerLeft, .calendarNavContainerRight {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}

.calendarNavContainerRight {
  padding-right: 1vw;
}

.plusSvg {
  width: auto;
  height: 5vh;
}

.navigationArrowsContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.navigationArrowSvg {
  height: 4vh;
  width: auto;
}

.navigationArrowSvg:hover {
  filter: invert(95%) sepia(8%) saturate(2823%) hue-rotate(306deg) brightness(97%) contrast(126%);
}

.yearDropDownContainer, .calendarDropDownContainer, .viewDropDownContainer {
  max-height: 4vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #DCDCDC;
}

.yearDropDownContainer:hover, .calendarDropDownContainer:hover, .viewDropDownContainer:hover {
  border: 1px solid #FFB6C1;
  color: #FFB6C1;
}

.yearDropDownText, .calendarDropDownText, .viewDropDownText {
  padding-left: 1vw;
  font-size: 1em;
}

.yearDropDownSvg, .calendarDropDownSvg, .viewDropDownSvg {
  height: 3vh;
  width: auto;
}

.yearDropDownContainer:hover .yearDropDownSvg, .calendarDropDownContainer:hover .calendarDropDownSvg, .viewDropDownContainer:hover .viewDropDownSvg {
  filter: invert(76%) sepia(20%) saturate(747%) hue-rotate(305deg) brightness(102%) contrast(103%);
}

.plusSvg:hover, .navigationArrowSvg:hover, .yearDropDownContainer:hover, .calendarDropDownContainer:hover, .viewDropDownContainer:hover, .viewDropDownSvg:hover {
  cursor: pointer;
  transform: scale(0.99);
}

.plusSvg:hover {
  animation: rotateAnimation 1s forwards;
  filter: invert(90%) sepia(7%) saturate(1613%) hue-rotate(76deg) brightness(87%) contrast(88%);
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.plusSvg, .navigationArrowSvg, .yearDropDownSvg, .calendarDropDownSvg, .viewDropDownSvg {
  filter: invert(53%) sepia(12%) saturate(0%) hue-rotate(160deg) brightness(93%) contrast(90%);
}

/* DAY VIEW CONTAINER STYLING --- DAY VIEW CONTAINER STYLING */

.dayViewContainer {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  overflow-y: visible;
}

.dayViewHeaderText, .weekViewHeaderText {
  font-size: 2em;
  margin: 1vh;
}

.currentDateText {
  width: 100%;
  padding-left: 2.5vw;
  font-size: 1em;
}

.dayViewItemsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

.AMDayScheduleContainer, .PMDayScheduleContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.AMDayScheduleHeaderText, .PMDayScheduleHeaderText {
  font-weight: bold;
  width: 100%;
  padding-left: 5vw;
}

.AMBlockContainer, .PMBlockContainer {
  width: 95vw;
  display: flex;
  height: auto;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5vw;
  border: 1px solid #DCDCDC;
  border-radius: 10px;
}

.AMDayScheduleItem, .PMDayScheduleItem {
  height: auto;
  min-height: 15vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.AMDayScheduleItem:hover .AMDayScheduleText {
  background-color: #FFB6C1;
}

.PMDayScheduleItem:hover .PMDayScheduleText {
  background-color: #B0E0E6;
}

.AMDayScheduleItem:hover, .PMDayScheduleItem:hover {
  cursor: pointer;
  transform: scale(0.99);
}

.AMDayScheduleText, .PMDayScheduleText {
  border-bottom: 1px solid #DCDCDC;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25vh;
  width: 100%;
}

.AMDayScheduleBlock, .PMDayScheduleBlock {
  min-width: 5vw;
  width: 100%;
  height: 100%;
  font-size: 0.8em;
  padding-left: 0.25vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f5f5f5;
}

.AMBlockContainer .AMDayScheduleItem:first-of-type .AMDayScheduleBlock, .PMBlockContainer .PMDayScheduleItem:first-of-type .PMDayScheduleBlock  {
  border-bottom-left-radius: 10px;
}

.AMBlockContainer .AMDayScheduleItem:last-of-type .AMDayScheduleBlock, .PMBlockContainer .PMDayScheduleItem:last-of-type .PMDayScheduleBlock  {
  border-bottom-right-radius: 10px;
}

@media (max-width: 600px) {
  .AMDayScheduleBlock, .PMDayScheduleBlock  {
    font-size: 0.65em;
  }
}

@media (min-width: 601px) {
  .AMDayScheduleBlock, .PMDayScheduleBlock  {
    font-size: 1em;
  }
}

/* WEEK VIEW STYLING -- WEEK VIEW STYLING */

.weekViewContainer {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  justify-content: center;   
  align-items: center;
  padding-top: 5vh;
}

.weekDayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A1D6B9;
  border-radius: 10px;
}

.weekDayItem {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 30vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.weekDayContainer .weekDayItem:last-of-type {
  border-right: none;
}

.weekDayItemText {
  font-size: 1em;
}

.weekDayItemBlock {
  padding-left: 0.5vw;
}

@media (max-width: 600px) {
  .weekDayContainer {
    flex-flow: row wrap;
    gap: 5vw;
    width: 80vw;
  }

  .weekDayItem {
    width: 25vw;
    margin: 0;
    margin-bottom: 5vh;
    border-bottom: 1px solid #EAEAEA;
  }
}

@media (min-width: 601px) {
  .weekDayContainer {
    flex-flow: row nowrap;
    width: 95%;
  }

  .weekDayItem {
    width: 15vw;
    border-right: 1px solid #EAEAEA;
  }
}