.calendarContainer {
  width: 100vw;
  height: auto;
  overflow-y: visible;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.calendarNavContainer {
  width: 100%;
  height: auto;
  max-height: 5vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); /* Adjust blur and color as needed */
  border-bottom: 1px solid #f5f5f5; /* To ensure there's a visible border */
}

/* NAV CONTAINER STYLING --- NAV CONTAINER STYLING */

.calendarNavContainerLeft, .calendarNavContainerRight {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}

.calendarNavContainerRight {
  padding-right: 1vw;
}

.plusSvg {
  width: auto;
  height: 5vh;
}

.navigationArrowsContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.navigationArrowSvg {
  height: 4vh;
  width: auto;
}

.navigationArrowSvg:hover {
  filter: invert(95%) sepia(8%) saturate(2823%) hue-rotate(306deg) brightness(97%) contrast(126%);
}

.yearDropDownContainer, .calendarDropDownContainer, .viewDropDownContainer {
  max-height: 4vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #DCDCDC;
}

.yearDropDownContainer:hover, .calendarDropDownContainer:hover, .viewDropDownContainer:hover {
  border: 1px solid #FFB6C1;
  color: #FFB6C1;
}

.yearDropDownText, .calendarDropDownText, .viewDropDownText {
  padding-left: 1vw;
  font-size: 1em;
}

.yearDropDownSvg, .calendarDropDownSvg, .viewDropDownSvg {
  height: 3vh;
  width: auto;
}

.yearDropDownContainer:hover .yearDropDownSvg, .calendarDropDownContainer:hover .calendarDropDownSvg, .viewDropDownContainer:hover .viewDropDownSvg {
  filter: invert(76%) sepia(20%) saturate(747%) hue-rotate(305deg) brightness(102%) contrast(103%);
}

.plusSvg:hover, .navigationArrowSvg:hover, .yearDropDownContainer:hover, .calendarDropDownContainer:hover, .viewDropDownContainer:hover, .viewDropDownSvg:hover {
  cursor: pointer;
  transform: scale(0.99);
}

.plusSvg:hover {
  animation: rotateAnimation 1s forwards;
  filter: invert(90%) sepia(7%) saturate(1613%) hue-rotate(76deg) brightness(87%) contrast(88%);
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.plusSvg, .navigationArrowSvg, .yearDropDownSvg, .calendarDropDownSvg, .viewDropDownSvg {
  filter: invert(53%) sepia(12%) saturate(0%) hue-rotate(160deg) brightness(93%) contrast(90%);
}

/* DAY VIEW CONTAINER STYLING --- DAY VIEW CONTAINER STYLING */

.dayViewContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.dayViewHeaderText, .weekViewHeaderText, .monthViewHeaderText, .yearViewHeaderText {
  font-size: 2em;
  margin: 1vh;
}

.currentDateText, .currentMonthText, .currentYearText {
  position: relative;
  padding-left: 2.5vw;
  margin-right: auto;
  font-size: 1.25em;
}

.dayViewItemsContainer {
  display: flex;
  width: auto;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.AMDayScheduleContainer, .PMDayScheduleContainer {
  width: 90%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.AMDayScheduleHeaderText, .PMDayScheduleHeaderText {
  font-weight: bold;
  width: 100%;
  padding-left: 1vw;
}

.AMBlockContainer, .PMBlockContainer {
  width: 100%;
  display: flex;
  height: auto;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0.5vw;
  border: 1px solid #DCDCDC;
  border-radius: 10px;
  box-sizing: border-box;
}

.AMDayScheduleItem, .PMDayScheduleItem {
  min-height: 15vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.AMDayScheduleItem:hover .AMDayScheduleText {
  background-color: #FFB6C1;
}

.PMDayScheduleItem:hover .PMDayScheduleText {
  background-color: #B0E0E6;
}

.AMDayScheduleItem:hover, .PMDayScheduleItem:hover {
  cursor: pointer;
  transform: scale(0.99);
}

.AMDayScheduleText, .PMDayScheduleText {
  border-bottom: 1px solid #DCDCDC;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.AMDayScheduleBlock, .PMDayScheduleBlock {
  min-width: 5vw;
  width: 100%;
  height: 100%;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.AMBlockContainer .AMDayScheduleItem:first-of-type .AMDayScheduleBlock, .PMBlockContainer .PMDayScheduleItem:first-of-type .PMDayScheduleBlock  {
  border-bottom-left-radius: 10px;
}

.AMBlockContainer .AMDayScheduleItem:last-of-type .AMDayScheduleBlock, .PMBlockContainer .PMDayScheduleItem:last-of-type .PMDayScheduleBlock  {
  border-bottom-right-radius: 10px;
}

@media (max-width: 600px) {
  .AMDayScheduleBlock, .PMDayScheduleBlock  {
    font-size: 0.65em;
  }
}

@media (min-width: 601px) {
  .AMDayScheduleBlock, .PMDayScheduleBlock  {
    font-size: 1em;
  }
}

/* WEEK VIEW STYLING -- WEEK VIEW STYLING */

.weekViewContainer, .monthViewContainer, .yearViewContainer {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  justify-content: center;   
  align-items: center;
  padding-top: 5vh;
}

.weekDayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A1D6B9;
  border-radius: 10px;
}

.weekDayItem {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 30vh;
  height: auto;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.weekDayItem:hover {
  transform: scale(0.99);
  cursor: pointer;
  background-color: #B8E6D9;
}

.weekDayContainer .weekDayItem:last-of-type {
  border-right: none;
}

.weekDayItemText {
  font-size: 1em;
  padding-bottom: 0.5vh;
}

.weekDayItemBlock {
  padding-left: 0.5vw;
}

@media (max-width: 600px) {
  .weekDayContainer {
    flex-flow: row wrap;
    gap: 5vw;
    width: 80vw;
  }

  .weekDayItem {
    width: 25vw;
    margin: 0;
    margin-bottom: 5vh;
    border-bottom: 1px solid #EAEAEA;
  }
}

@media (min-width: 601px) {
  .weekDayContainer {
    flex-flow: row nowrap;
    width: 95%;
  }

  .weekDayItem {
    width: 15vw;
    border-right: 1px solid #EAEAEA;
  }

  .weekDayItemText {
    border-bottom: 1px solid #EAEAEA;
  }
}

/* MONTH VIEW STYLING -- MONTH VIEW STYLING */

.monthItemsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 15px;
  overflow-y: visible;
  overflow-x: hidden;
}

.monthItemContainer {
  width: 14%;
  min-height: 15vh;
  height: auto;
  display: flex;
  flex-flow: column-reverse wrap;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #D8D8D8;
  color: #555555;
}

.monthItemContainer:hover {
  transform: scale(0.99);
  cursor: pointer;
  background-color: #E0C3FC;
}

.monthItemValidDateContainer {
  background-color: #FAF8EE;
}

.monthItemInvalidDateContainer {
  background-color: #E7E3DB;
}

.monthItemValidDateContainer:hover,
.monthItemInvalidDateContainer:hover {
  background-color: #E5E5E5;
  cursor: pointer;
  transform: scale(1.05);
}

.monthItemValidDateContainer:hover > p,
.monthItemInvalidDateContainer:hover > p {
  transform: scale(1.25);
  font-weight: bold;
}

.monthItemDateNumberText {
  margin: 0;
  font-style: italic;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #D8D8D8;
}

.monthItemWeekDayText {
  margin: 0;
  font-weight: bold;
}

/* ADD EVENT MODAL STLYING -- ADD EVENT MODAL STYLING */

.addEventModalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply blur effect */
  z-index: 1;
}

.addEventModalContainer {
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.addEventModalCloseIcon {
  width: auto;
  height: 4vh;
}

.addEventModalCloseIcon:hover {
  cursor: pointer;
  transform: scale(0.99);
  filter: invert(11%) sepia(71%) saturate(6473%) hue-rotate(359deg) brightness(85%) contrast(112%);
}

/* ADD EVENT FORM STYLING -- ADD EVENT FORM STYLING */

.addEventFormContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.addEventForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formGroup {
  margin-bottom: 15px;
}

.addEventFormLabel {
  font-weight: bold;
}

.addEventFormInput {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  outline: none;
}

.addEventFormCheckbox {
  margin-left: 5px;
}

.addEventFormTextArea {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  resize: vertical;
  outline: none;
}

.addEventFormSelect {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  outline: none;
}

.addEventFormOption {
  padding: 5px;
}

.addEventFormButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.addEventFormButton:hover {
  background-color: #0056b3;
}

/* YEAR VIEW STYLING -- YEAR VIEW STYLING */

.yearItemsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  gap: 0.5vh;
}

.yearMonthContainer {
  width: 30%;
  height: 40vh;
}

.yearViewMonthHeaderText {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yearViewMonthItemsContainer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.dayOfWeekListContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100%;
}

.dayOfWeekListItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14%;
  height: 5vh;
}

.dayOfWeekListItemText {
  margin: 0;
  border-bottom: 1px solid#D8D8D8;
}

.YearViewMonthItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14%;
  height: 5vh;
}

.yearViewMonthItemDateNumberText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0;
  font-size: 0.9em;
}